doctype
html(lang='en')
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')
        block scripts
        link(rel="stylesheet" href="static/css/main.css")
        block styles
        title=title
    body.d-flex.flex-column
        header
            block header
        nav
            block nav
        main.flex-grow-1
            block main
        footer
            block footer
        block bodyScripts
