extends base.pug

block scripts
    script(src="/static/js/graph.js")
    script(src="/static/js/resizable-sidebar.js")
    script(src="/static/js/bootstrap-collapse.js")
    script(src="/static/js/settings.js")
block header
    button#settings-btn.px-2.border-0.bg-light.w-100.border-bottom(
        data-bs-toggle="collapse"
        data-bs-target="#settings-container"
        aria-expanded="false"
        aria-controls="settings-container"
    )
        img(src="/static/image/gear-fill.svg" alt="Settings Icon")
        |  Close Settings
    div#settings-container.collapse.show
        div hello world
block main
    section.d-flex.w-100.h-100.border-top
        aside#sidebar.border-end.p-1
            div#buttons.d-flex.flex-column
            div#handle
        figure.flex-grow-1.d-flex.flex-column.h-100
            div.flex-grow-1
                div#graph-container
