extends base.pug

block bodyScripts
    script(src="/static/js/graph.js")
block styles
    link(rel="stylesheet" href="static/css/main.css")
block header
    h1=header
block main
    div=content
    div#graph-container
