extends base.pug

block bodyScripts
    script(src="/static/js/graph.js")
block header
    h2.px-1=title
block main
    div.d-flex.flex-column.h-100
        div.flex-grow-1
            div#graph-container
