extends base.pug

block scripts
    script(src="/static/js/resizable-sidebar.js")
    script(src="/static/js/graph.js")
block header
    h2.px-1=title
block main
    section.d-flex.w-100.h-100.border-top
        aside#sidebar.border-end.p-1
            div="Sidebar"
            div#handle
        figure.flex-grow-1.d-flex.flex-column.h-100
            div.flex-grow-1
                div#graph-container
