extends base.pug

block bodyScripts
    script(src="/static/js/graph.js")
block header
    h1=header
block main
    div.d-flex.flex-column.h-100
        div=content
        div.flex-grow-1
            div#graph-container
