@use "base";
@use "sass:map";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/_variables";

// dagre style
.nodes {
    .node {
        rect {
            stroke: $dark;
            fill: $light;
        }
        rect:hover {
            cursor: pointer;
        }
        text {
            pointer-events: none;
        }
    }
}
.edgePaths {
    .edgePath path {
        stroke: $dark;
        fill: $dark;
        stroke-width: 1.5px;
    }
}
tspan {
    @extend .user-select-none;
}
svg {
    display: inline-block;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
}


// Show grab cursor on graph svg
#graph:hover {
    cursor: grab;
}
#graph:active {
    cursor: grabbing;
}

#settings-btn {
    font-size: 0.95em !important;
}
#settings-inner {
    > div {
        @extend .px-1;
    }
}

// Filter form
#filter-input {
    textarea {
        height: 10px;
    }
}
#filter-input-text {
    width: 200px;
}
#filter-input-delimeter {
    width: 50px;
}


// Sidebar styles
#sidebar-toggle {
    svg:hover {
        cursor: pointer;
    }
}
.hide-components * {
    @extend .d-none;
}
.graph-controls-btn {
    @extend .mx-auto;
    @extend .p-1;
    width: 150px !important;
}

.settings-header-label {
    @extend .text-center;
    font-size: 0.95em;
}

// Bottom window
#bottom-window {
    height: 500px;
    svg:hover {
        cursor: pointer;
    }
    #bottom-window-container {
        overflow-y: scroll;
    }
}

.clickable:hover {
    cursor: pointer;
}

.tooltip-buttons {
    button {
        font-size: 1em !important;
        @extend .d-block;
        @extend .bg-transparent;
        @extend .p-0;
        @extend .mx-auto;
        @extend .clickable;
    }
}

#headers-container {
    table-layout: fixed;
    border-collapse: collapse;
}
.header-container {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    line-height: 1 !important;
    vertical-align: top;
}
