@use 'base';

.btn {
    @extend .mx-auto;
    @extend .p-1;
    width: 150px !important;
}

#settings-btn {
    font-size: 0.95em !important;
}
#settings-btn svg {
    display: inline-block;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
}

// https://spin.atomicobject.com/2019/11/21/creating-a-resizable-html-element/

#sidebar {
    @extend .p-2;
    --resizeable-width: 200px;
    width: var(--resizeable-width);
    min-width: var(--min-width);
}

#handle {
    float: right;
    width: 1px;
    z-index: 1;
}

#handle::after {
    content: "";
    width: 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    cursor: ew-resize;
    z-index: 2;
}
